@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1500px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 38px;
    background-color: #3B5D50;
    padding-left: 178px;
    position: fixed;

}

header nav {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: #ffffffc2;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#links {
    color: #fff;
    color: #F9BF29;
}

.navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 15px;
}

.navbarx {
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbarx-r {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
}

.navbarx-l {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    transform: rotate(135deg);
}

.footer {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 75px 0;
}

.footer .footer-item {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-item .footer-info {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer .footer-item .footer-info .footer-logo {
    color: #000;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.footer .footer-item .footer-info p {
    color: #6A6A6A;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer .footer-item .footer-info .footer-icons {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 39px;
}

.footer .footer-item .footer-info .footer-icons a {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.footer .footer-item .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
}

.footer .footer-item .footer-links a {
    text-decoration: none;
    color: #6A6A6A;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

@media (max-width: 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3B5D50;
        padding: 20px 50px;
    }

    header nav {
        display: flex;
        align-items: center;
        gap: 250px;
        position: relative;
    }

    header nav .logo {
        color: #fff;
        font-family: "Inter";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    header nav ul {
        width: 100%;
        display: none;
        flex-direction: column;
        padding: 15px 50px;
        position: absolute;
        top: 59px;
        background-color: aquamarine;
    }

    header nav ul a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7607843137);
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    header nav .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    header nav .navbar div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 15px;
    }

    header nav .navbarx {
        width: 25px;
        height: 0;
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    header nav .navbarx .navbarx-r {
        width: 25px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transform: rotate(45deg);
        border-radius: 15px;
    }

    header nav .navbarx .navbarx-l {
        width: 25px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transform: rotate(135deg);
        border-radius: 15px;
    }
}

.blog {
    width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin-top: 100px;
    overflow: hidden;

}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-inp {
    display: flex;
    width: 1000px;
    padding: 13px 44px 13px 44px;
    align-items: center;
    border-radius: 23px;
    border: 1px solid rgba(147, 147, 147, 0.21);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

.blog-items {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
}

.blog-items a {
    display: flex;
    padding: 4.66px 32.622px;
    align-items: center;
    justify-content: center;
    gap: 11.651px;
    border-radius: 23.302px;
    background: #807F7F;
    text-decoration: none;
    color: #000;
    font-family: 'Inter';
    font-size: 20.972px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog-items a:hover{
    background-color: #D2D2D2;
}

.blog-tables{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tables-images{
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid red;
}

.tables{
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.table img {
    
}
