@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1500px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 38px;
    background-color: #3B5D50;
    padding-left: 178px;
    position: fixed;
    z-index: 5;

}

header nav {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
}

header nav ul a {
    text-decoration: none;
    color: #ffffffc2;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#links {
    color: #fff;
    color: #F9BF29;
}

.navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 15px;
}

.navbarx {
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbarx-r {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
}

.navbarx-l {
    width: 50px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    transform: rotate(135deg);
}

.footer {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 75px 0;
}

.footer .footer-item {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-item .footer-info {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer .footer-item .footer-info .footer-logo {
    color: #000;
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.footer .footer-item .footer-info p {
    color: #6A6A6A;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer .footer-item .footer-info .footer-icons {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 39px;
}

.footer .footer-item .footer-info .footer-icons a {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.footer .footer-item .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
}

.footer .footer-item .footer-links a {
    text-decoration: none;
    color: #6A6A6A;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.slick-carousel{
    width: 1150px;
}

@media (max-width: 600px) {
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3B5D50;
        padding: 20px 50px;
        position: fixed;
    }

    header nav {
        width: 330px;
        display: flex;
        align-items: center;
        gap: 200px;
        position: relative;
    }

    header nav ul {
        width: 100%;
        display: none;
        flex-direction: column;
        padding: 15px 50px;
        position: absolute;
        top: 59px;
        background-color: rgba(59, 93, 80, 0.7882352941);
        z-index: 852;
    }

    header nav .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    header nav .navbar div {
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 15px;
    }

    header nav .navbarx {
        width: 25px;
        height: 0;
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    header nav .navbarx .navbarx-r {
        width: 25px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transform: rotate(45deg);
        border-radius: 15px;
    }

    header nav .navbarx .navbarx-l {
        width: 25px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transform: rotate(135deg);
        border-radius: 15px;
    }

    header .header-item {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    header .header-item .header-info {
        width: 330px;
        gap: 60px;
    }

    header .header-item .header-info h1 {
        font-size: 24px;
    }

    header .header-item .header-info .btns a {
        padding: 7px 20px;
        font-size: 14px;
    }

    header .header-item .header-img {
        width: 330px;
        position: relative;
        z-index: 1;
    }

    header .header-item .back {
        width: 150px;
        position: absolute;
        top: 20px;
        right: -40px;
    }

    /*header-finish*/

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 35px 0;
    }

    .footer .footer-item {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .footer .footer-item .footer-img {
        display: none;
    }

    .footer .footer-item .footer-info {
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    .footer .footer-item .footer-info .footer-logo {
        color: #000;
        font-family: "Inter";
        font-size: 32px;
        font-style: normal;
        font-weight: bolder;
        line-height: normal;
    }

    .footer .footer-item .footer-info p {
        color: #6A6A6A;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .footer .footer-item .footer-info .footer-icons {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-top: 39px;
    }

    .footer .footer-item .footer-info .footer-icons a {
        width: 41px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #D9D9D9;
    }

    .footer .footer-item .footer-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        list-style: none;
    }

    .footer .footer-item .footer-links a {
        text-decoration: none;
        color: #6A6A6A;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    .footer .footer-item #footer-links1 {
        position: absolute;
        top: 300px;
        left: 0;
    }

    .footer .footer-item #footer-links2 {
        position: relative; 
         top: 45px;
    }
}

.blog {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin-top: 80px;
    background: #EFF2F1;
    padding-bottom: 30px;

}

.search {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-inp {
    display: flex;
    width: 1000px;
    padding: 13px 44px 13px 44px;
    align-items: center;
    border-radius: 23px;
    border: 1px solid rgba(147, 147, 147, 0.21);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

.blog-items {
    width: 1150px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
}

.blog-items a {
    display: flex;
    padding: 4.66px 32.622px;
    align-items: center;
    justify-content: center;
    gap: 11.651px;
    border-radius: 23.302px;
    background: #807F7F;
    text-decoration: none;
    color: #000;
    font-family: 'Inter';
    font-size: 20.972px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#table {
    background-color: #D2D2D2;
}

/* .blog-tables {
    width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-tables h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-chairs {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-chairs h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-sofas {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-sofas h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-bed {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-bed h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-mattresses {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-mattresses h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-lamps {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-lamps h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-armchairs {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-armchairs h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-kitchens {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-kitchens h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-cabinets {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-cabinets h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-mirrors {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-mirrors h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-tumby {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.blog-tumby h1 {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}

.blog-hangers {
    width: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
} */

#blog-tables{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.blog-title {
    text-align: center;
    width: 100%;
    color: #2F2F2F;
    font-family: "Inter";
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 41px;
}


.tables img {
    width: 1150px;
    border: 1px solid red;
    height: 500px;
    margin-bottom: 20px;
}

#blog-chairs{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-sofas{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-bed{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-mattresses{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-lamps{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-armchairs{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-kitchens{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-cabinets{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-mirrors{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-tumby{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#blog-hangers{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
/* .arrows {
    display: flex;
    align-items: center;
    gap: 100px;
} */

/* .arrows button {
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    background-color: #77d4b1;
    font-size: 15px;
    transform: translate(-30px, 0);
}

.arrows button:hover {
    background-color: #3B5D50;
    color: #D2D2D2;
} */

@media(max-width: 600px) {
    .blog {
        width: 100%;
    }

    .search {
        width: 330px;
        gap: 30px;
    }

    .search-inp {
        padding: 13px 24px 13px 24px;
    }

    .search-img {
        width: 100px;
    }

    .blog-items {
        width: 330px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 20px;
    }

    .blog-items a {
        padding: 4.66px 26px;
        font-size: 16px;
    }


    #blog-tables{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        overflow: hidden;
    }
    
    .slick-carousel{
        width: 330px;
    }

    .blog-title {
        font-size: 26px;
    }
    
    
    .tables img {
        width: 330px;
    }
    
    #blog-chairs{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        overflow: hidden;
    }
    
    #blog-sofas{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-bed{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-mattresses{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-lamps{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-armchairs{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-kitchens{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-cabinets{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-mirrors{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-tumby{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    
    #blog-hangers{
        width: 330px;
        display: none;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }
    .tables {
        width: 330px;
        align-items: center;
        justify-content: center;
    }

    /* .arrows {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .arrows button {
        padding: 5px 10px;
        transform: translate(0px, 0);

    } */
}